<ion-view title="Appointments" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="appointments-button-bar2" class=" button-bar ">
            <button id="appointments-button7" class=" button button-stable  button-block ">Upcoming</button>
            <button id="appointments-button8" class=" button button-stable  button-block ">Past</button>
        </div>
        <ion-list id="appointments-list10">
            <ion-item class="item-icon-right  " id="appointments-list-item31" href="mailto:">12/08/2016
                <span class="item-note">Vain Hair Studio</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="appointments-list-item32">02/09/2016
                <span class="item-note">Vain Hair Studio</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>