<ion-view title="Appointment" id="page17">
    <ion-content padding="true" class="has-header">
        <div>
            <div>
                <i class="icon ion-arrow-left-a"></i>
                <span style="display: inline-block; width: 90%; text-align: center">Jun 27 - 29</span>
                <i class="icon ion-arrow-right-a"></i>
            </div>

            <div class="text-center" style="border: 1px solid #818E96">
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96">27</div>
                    <div class="col" style="border: 1px solid #818E96">28</div>
                    <div class="col" style="border: 1px solid #818E96">29</div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96; background-color: #888;"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>

                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>

                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                    <div class="col" style="border: 1px solid #818E96"></div>
                </div>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <p id="appointment-markdown8" style="color:#000000;text-align:center;">August 27th 14:30 - 15:00</p>
        <a ui-sref="tabsController.booking2" id="appointment-button29" class=" button button-stable  button-block ">Book Appointment</a>
    </ion-content>
</ion-view>