<ion-view title="Booking" id="page19">
    <ion-content padding="true" class="has-header">
        <h4 id="booking-heading5" style="color:#000000;text-align:center;">Appointment Provisioned</h4>
        <p id="booking-markdown13" style="color:#000000;text-align:center;">Your appointment is
            <strong>not confirmed</strong>yet. Your request details will be reviewed by the salon and confirmed. You may be contacted by the salon to confirm your identity. If you have a confirmation code [insert it here].</p>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <h5 id="booking-heading6" style="color:#000000;">Services</h5>
        <div class="item item-body " id="booking-list-item-container4">
            <p id="booking-markdown14" style="margin-top:0px;color:#000000;text-align:center;">Cut, Andre (20 mins) €10.00
                <br>Blow-dry, Andre (10 mins) €5.00
                <br>
                <strong>Total €15.00</strong>
            </p>
        </div>
        <h5 id="booking-heading7" style="color:#000000;">Appointment</h5>
        <div class="item item-body " id="booking-list-item-container5">
            <p id="booking-markdown15" style="margin-top:0px;color:#000000;">Monday, 27th August 2016, 11:00 - 11:30.</p>
        </div>
        <h5 id="booking-heading8" style="color:#000000;">Additional Notes (Optional)</h5>
        <form id="booking-form16" class="list ">
            <label class="item item-input " id="booking-textarea4">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
            <div id="booking-button-bar9" class=" button-bar ">
                <a ui-sref="tabsController.dashboard" id="booking-button36" class=" button button-stable  button-block ">Ok, Proceed</a>
                <a ui-sref="tabsController.dashboard" id="booking-button37" class=" button button-assertive  button-block ">Cancel Booking</a>
            </div>
        </form>
    </ion-content>
</ion-view>