<ion-view title="Booking" id="page20">
    <ion-content padding="true" class="has-header">
        <h4 id="booking2-heading9" style="color:#000000;text-align:center;">Appointment Confirmed</h4>
        <p id="booking2-markdown16" style="color:#000000;text-align:center;">Your appointment is
            <strong>confirmed</strong>and the salon was notified. Thank you for your custom.</p>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <h5 id="booking2-heading10" style="color:#000000;">Services</h5>
        <div class="item item-body " id="booking2-list-item-container6">
            <p id="booking2-markdown17" style="margin-top:0px;color:#000000;text-align:center;">Cut, Andre (20 mins) €10.00
                <br>Blow-dry, Andre (10 mins) €5.00
                <br>
                <strong>Total €15.00</strong>
            </p>
        </div>
        <h5 id="booking2-heading11" style="color:#000000;">Appointment</h5>
        <div class="item item-body " id="booking2-list-item-container7">
            <p id="booking2-markdown18" style="margin-top:0px;color:#000000;">Monday, 27th August 2016, 11:00 - 11:30.</p>
        </div>
        <h5 id="booking2-heading12" style="color:#000000;">Additional Notes (Optional)</h5>
        <form id="booking2-form17" class="list ">
            <label class="item item-input " id="booking2-textarea5">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <a ui-sref="tabsController.dashboard" id="booking2-button35" class=" button button-stable  button-block ">Ok</a>
    </ion-content>
</ion-view>