<ion-view title="Browse" id="page11">
    <ion-content padding="true" class="has-header">
        <ion-list id="browse-list7">
            <ion-item class="item-thumbnail-left  " id="browse-list-item10">
                <h2>Antonio's Barber</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="browse-list-item16">
                <h2>Bennato</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="browse-list-item17">
                <h2>Daniele</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="browse-list-item18">
                <h2>Tony &amp; Guy</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="browse-list-item23">
                <h2>Vain Hair Studio</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>