<ion-view title="Confirm" id="page12">
    <ion-content padding="true" class="has-header">
        <p id="confirm-markdown6" style="color:#000000;">Thank you for signing up. A confirmation email was sent to the email address you provided to confirm your identity. Kindly check your inbox to confirm your account and start using BookACut.</p>
        <div class="spacer" style="width: 300px; height: 55px;"></div>
        <a ui-sref="login" id="confirm-button11" class=" button button-stable  button-block ">Log in</a>
    </ion-content>
</ion-view>