<ion-view title="Contact" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="contact-form6" class="list ">
            <label class="item item-select " id="contact-select7" name="Type">
                <span class="input-label">Type</span>
                <select>
                    <option>Comment</option>
                    <option>Suggestion</option>
                    <option>Support</option>
                    <option>Feedback</option>
                </select>
            </label>
            <label class="item item-input " id="contact-textarea1">
                <span class="input-label"></span><textarea placeholder="Insert text here..."></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 66px;"></div>
        <button id="contact-button10" class=" button button-stable  button-block ">Send</button>
    </ion-content>
</ion-view>