<ion-view title="Dashboard" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="dashboard-button-bar1" class=" button-bar ">
            <a ui-sref="tabsController.location" id="dashboard-button4" style="font-size:13px;" class=" button button-stable  button-block ">Location</a>
            <a ui-sref="tabsController.availabiliity" id="dashboard-button5" style="font-size:13px;" class=" button button-stable  button-block ">Availability</a>
            <a ui-sref="tabsController.browse" id="dashboard-button6" style="font-size:13px;" class=" button button-stable  button-block ">Browse</a>
        </div>
        <div class="list card " id="dashboard-card22">
            <ion-item class="item-thumbnail-left  " id="dashboard-list-item19">
                <h2>Vain Hair Studio</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="dashboard-list-item20" ui-sref="tabsController.salon">
                <h2>Antonio's Barber</h2>
            </ion-item>
        </div>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <div class="item item-body " id="dashboard-list-item-container1">
            <p id="dashboard-markdown2" style="margin-top:0px;color:#000000;">Special introductionary offer of all haircut services - 25% off! Hurry up and book your appointment now!</p>
            <p id="dashboard-markdown3" style="margin-top:0px;color:#000000;text-align:right;">Aldo's Hair Salon</p>
        </div>
    </ion-content>
</ion-view>