<ion-view title="Favorites" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="favorites-list8">
            <ion-item class="item-thumbnail-left item-icon-right  " id="favorites-list-item24">
                <h2>Vain Hair Studio</h2>
                <i class="icon ion-android-delete"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favorites-list-item25">
                <h2>Antonio's Barber</h2>
                <i class="icon ion-android-delete"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>