<ion-view title="Profile" id="page8">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/HnXkbPeFSWyuD97C1IfF_Profile_avatar_placeholder_large.png" width="140" height="140" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="profile-form5" class="list ">
            <label class="item item-input " id="profile-input6">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="profile-input9">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="profile-input10">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="profile-input11">
                <span class="input-label">Phone</span>
                <input type="text" placeholder="">
            </label>
            <button id="profile-button9" class=" button button-stable  button-block ">Save</button>
            <button id="profile-button19" class=" button button-assertive  button-block ">Disable Account</button>
        </form>
    </ion-content>
</ion-view>