<ion-view title="Salon" id="page13">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/BKgpykrWTFCmCg1YKZCU_A000 Logo.jpg" width="100%" height="250" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <p id="salon-markdown1" style="color:#000000;">Address: 21 – 23 Birbal Street, Balzan. Malta</p>
        <div id="salon-button-bar5" class=" button-bar ">
            <button id="salon-button14" class=" button button-stable  button-block icon-right ion-thumbsup ">Like</button>
            <button id="salon-button15" class=" button button-stable  button-block icon-right ion-star ">Rate</button>
            <button id="salon-button16" class=" button button-stable  button-block icon-right ion-heart ">Favorite</button>
        </div>
        <a ui-sref="tabsController.services" id="salon-button12" class=" button button-stable  button-block ">Book Now</a>
    </ion-content>
</ion-view>