<ion-view title="Services" id="page16">
    <ion-content padding="true" class="has-header">
        <form id="services-form12" class="list ">
            <label class="item item-select " id="services-select4">
                <span class="input-label">Person</span>
                <select>
                    <option>Andre</option>
                    <option>Yana</option>
                </select>
            </label>
            <label class="item item-select " id="services-select6">
                <span class="input-label">Service</span>
                <select>
                    <option>Cut (€10.00)</option>
                    <option>Blow-dry (€5.00)</option>
                </select>
            </label>
        </form>
        <button id="services-button28" class=" button button-stable  button-block ">Add</button>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <ion-list id="services-list9">
            <ion-item class="item-icon-right  " id="services-list-item27">Cut, Andre (20 mins)
                <span class="item-note">€10.00</span>
                <i class="icon ion-android-delete"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="services-list-item28">Blow-dry, Andre (10 mins)
                <span class="item-note">€5.00</span>
                <i class="icon ion-android-delete"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <a ui-sref="tabsController.appointment" id="services-button27" class=" button button-stable  button-block ">Continue</a>
    </ion-content>
</ion-view>