<ion-view title="Settings" id="page15">
    <ion-content padding="true" class="has-header">
        <form id="settings-form11" class="list ">
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="settings-toggle1">Appointment Notifications</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="settings-toggle2">Setting 1</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle3">Setting 2</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle4">Setting 3</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle5">Setting 4</ion-toggle>
            <label class="item item-select " id="settings-select8">
                <span class="input-label">Currency</span>
                <select>
                    <option>Euro (€)</option>
                    <option>Pound Sterling (£)</option>
                    <option>US Dollar ($)</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>